@font-face {
  font-family: 'Rockstone-Regular';
  src: url(../fonts/Rockstone-Regular.ttf);
}

/* ------------------ INICIO ---------------------- */
body {
  margin: 0;
  padding: 0;
  background: url('../img/100fondo.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 95vh;
  justify-content: center;
}

.container_Inicio {
  text-align: center;
}

.container_Inicio p {
  color: black;
  font-size: 80px;
  font-weight: bold;
  font-family: 'Rockstone-Regular';
  margin-top: 10px;
  text-shadow: 2px 2px 0 white, 4px 4px 0 white;
}

.container_Inicio .btn-creditos {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  text-align: center;
  padding: 10px;
  font: 300 30px/1 'Rockstone-Regular';
  font-size: 50px;
  background: #FFF300;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px rgb(0, 0, 0);
  cursor: pointer;
}
.container_Inicio .btn-puntuaciones {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
  text-align: center;
  padding: 10px;
  font: 300 30px/1 'Rockstone-Regular';
  font-size: 50px;
  background: #FFF300;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px rgb(0, 0, 0);
  cursor: pointer;
}

.container_Inicio .btn-salir {
  position: fixed;
  top: 620px;
  right: 20px;
  z-index: 2;
  text-align: center;
  padding: 10px;
  font: 300 30px/1 'Rockstone-Regular';
  font-size: 50px;
  background: #FFF300;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px rgb(0, 0, 0);
  cursor: pointer;
}