@font-face {
    font-family: 'Alarm';
    src: url(../fonts/alarm.ttf);
}

@font-face {
    font-family: "Rockstone";
    src: url("../fonts/Rockstone-Regular.ttf");
}

#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#musica{
    position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  text-align: center;
  padding: 10px;
  font: 300 30px/1 'Rockstone-Regular';
  font-size: 30px;
  background: #FFF300;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px rgb(0, 0, 0);
  cursor: pointer;
}

#musica:hover{
    background-color: orange;
    box-shadow: inset 0 0 20px orangered;
}

#cronometro{
    font-size: 30px;
    font-family: 'Alarm';
}

#tiempo{
    display: flex;
    align-items: center;
}

#tiempo i{
    padding-right: 10px;
}
body{
    background-image: url(../img/fondoJuego2.png);
    background-size: cover;
    background-color: rgb(9, 9, 134);
    padding: 20px 100px;
}
#contenidoJuego{
    background-color: rgb(9, 9, 134);
    border: 15px solid rgb(235, 87, 235);
    box-shadow: 0 0 20px rgb(241, 13, 241), inset 0 0 20px rgb(241, 13, 241);
    margin-top: 40px;
    border-radius: 15px;

}

#tiempo{
    border: 5px solid black;
    padding: 15px;
    box-shadow: 0 0 20px rgb(5, 5, 65);
    color: yellow;
    background-color: rgb(9, 9, 134);
}


#nivel{
    font-family: 'Rockstone';
    font-size: 36px;
    padding-right: 10px;
}

#div1{
    display: flex;
    color: white;
    font-family: 'Rockstone';
}

#top > div{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name, #bestTime, #containerBS{
    font-family: 'Rockstone-Regular';
    font-size: 36px;
    color: white;
}

#name, #bestTime{
    padding-right: 15px;
}
