@font-face {
    font-family: 'Rockstone-Regular';
    src: url(../fonts/Rockstone-Regular.ttf);
  }

/* ------------------ JUEGO ---------------------- */
canvas {
  border: 1px solid #000;
  display: block;
  margin: 20px auto;
}