@font-face {
  font-family: 'Rockstone-Regular';
  src: url(../font/Rockstone-Regular.ttf);
}

/* ------------------ INICIO ---------------------- */
body {
  margin: 0;
  padding: 0;
  background: url('../img/100fondo.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 95vh;
  justify-content: center;
}

.container_Inicio {
  text-align: center;
}

.container_Inicio p {
  color: black;
  font-size: 80px;
  font-weight: bold;
  font-family: 'Rockstone-Regular';
  margin-top: 10px;

}