body {
  margin: 0;
  padding: 0;
  background: url('../img/100fondo.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 95vh;
  justify-content: center;
}

.container_Inicio {
  text-align: center;
}

.container_Inicio p {
  color: white;
  font-size: 50px;
  font-weight: bold;
}
